$primary-color: #3ca0e7;
$nav-footer-bg-color: #333;
$text-color: #eee;
$star-bg-color: #fff;
$map-bg-color: lightblue;
$card-bg-color: white;
$card-border-color: black;
$gradient1-color: #407ba0;
$gradient2-color: #214154;
$gradient3-color: #13242f;
$nav-bg: rgba(255, 255, 255, 0.3);
