@import "colors";
@import "mixins";

section {
    .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .title {
            @include animated-text;
        }

        .form {

            > * {
                margin-top: 15px;
                cursor: pointer;

            }

            label {
                color: $text-color;
            }

            input:checked + label {
                color: $nav-footer-bg-color;
            }

            > *:not(#hobbies):hover {
                background-color: $primary-color;
            }

            textarea:focus {
                background-color: $nav-footer-bg-color;
                color: $text-color;
            }

            button {
                border: $nav-footer-bg-color solid 2px;
                border-radius: 12px;
                margin-bottom: 15px;
                padding: 10px 30px;
            }
        }
    }
}
